<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Sysdig Application Test Automation Test Suite">

 	<listeners>
		<listener class-name="com.qa.ExtentReportListener.ExtentReportListener" />
	</listeners>
 

	<test name="Sysdig App Test Cases">
		<classes>
			<class name="com.sysdig.qa.testcases.RegistrationPageTest"></class>
		</classes>
	</test>
</suite>